<!-- Collector EDIT -->

@model MovieDatabase.Tasks.ViewModels.EditCollectorViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create/Edit Collector</h2>

@using (Html.BeginForm("Edit", "Collector"))
 {
     <fieldset>
        <legend>Collector</legend>
        <table>
             <tr>
                 <td>Id</td>
                 <td>First Name</td>
                 <td>Last Name</td>
                 <td></td>
             </tr>
             <tr>
                 <td>@Model.Collector.Id</td>
                 <td>@Html.EditorFor(m => m.Collector.FirstName)</td>
                 <td>@Html.EditorFor(m => m.Collector.LastName)</td>
                 <td><input type="submit" value="Submit"/></td>
             </tr>
         @Html.AntiForgeryToken()
         @Html.HiddenFor(m => m.Collector.Id)
         </table>
     </fieldset>

 }
