@model MovieDatabase.Domain.Director

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h3>ID: @Model.Id</h3>
<h3>Name: @Model.FirstName @Model.LastName</h3>

<h3>@Model.FirstName @Model.LastName's Movie</h3>
<table>
        <tr>
            <td>Title</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>@Html.ActionLink(@item.Title, "Details", "Movie", new { @id = item.Id }, null)</td>
                <td>@Html.ActionLink("Edit", "Edit", "Movie", new { @id = item.Id }, null)</td>
                <td>
                    @using (Html.BeginForm("Delete", "Movie", FormMethod.Post, null))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", item.Id)
                        <input type="submit" value="Delete" />
                    }
                </td>
            </tr>
        }
    </table>